name: Build package

on:
  push:
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - ".gitignore"
      - ".gitattributes"
      - ".editorconfig"

  workflow_dispatch:

env:
  Configuration: Release
  ContinuousIntegrationBuild: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Generate version info
        run: ./scripts/gitrev.sh

      - name: Build the assembly
        run: dotnet build -p:ASM_VER=${{ env.ASM_VER }} -p:ASM_COMMIT=${{ env.ASM_COMMIT }} -p:ASM_BUILD_FOR=${{ env.ASM_BUILD_FOR }}

      - name: Run the tests
        run: dotnet test

      - name: Generate the test report
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        if: always()
        with:
          name: Test Results
          path: '*.trx'
          reporter: dotnet-trx

      - name: Create the package
        run: dotnet pack

      - name: Upload the package as an artifact anyway
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: HttpStream-${{ env.ASM_VER }}-${{ env.ASM_COMMIT }}
          path: HttpStream/bin/Release/*.nupkg
          retention-days: 7
