name: Build package

on:
  push:
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - ".gitignore"
      - ".gitattributes"
      - ".editorconfig"

  workflow_dispatch:

env:
  Configuration: Release
  ContinuousIntegrationBuild: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Generate version info
        run: ./scripts/gitrev.sh

      - name: Build the assembly
        run: dotnet build -p:ASM_VER=${{ env.ASM_VER }} -p:ASM_COMMIT=${{ env.ASM_COMMIT }} -p:ASM_BUILD_FOR=${{ env.ASM_BUILD_FOR }}

      - name: Run the tests
        run: dotnet test

      - name: Generate the test report
        uses: dorny/test-reporter@7b7927aa7da8b82e81e755810cb51f39941a2cc7 # v2.2.0
        if: always()
        with:
          name: Test Results
          path: '*.trx'
          reporter: dotnet-trx

      - name: Create the package
        run: dotnet pack

      - name: Upload the package as an artifact anyway
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: HttpStream-${{ env.ASM_VER }}-${{ env.ASM_COMMIT }}
          path: HttpStream/bin/Release/*.nupkg
          retention-days: 7
